# app/views/user_mailer/pw_reset_email.html.erb

<h1>Hi Koala Farmer,</h1>
<p>
  Here is the code you need to reset your password:
  <%= @user.reset_password_token %><br>
  Reset your password
  <%= link_to 'here', passwords_resetform_url %>
</p>
<p>Thanks and long live the Koalas!</p>