# app/views/user_mailer/welcome_email.html.erb

<h1>Welcome to Koala Farm,</h1>
<p>
  You are now a proud Koala Farmer,
  your username is: <%= @user.username %>.<br>
</p>
<p>Thanks for joining and long live the Koalas!</p>